<h1 id="welcomeUser">Welcome Message</h1>
<div id="container">
    <div id="chat-panel">
        <div id="menu">
            <div id="rooms">
                <button class="roomButton" id="createRoom" onclick="createRoom()">Create Room</button>
                <button class="roomButton" id="joinRoom" onclick="joinRoom()">Join Room</button>
                <input type="text" id="roomId" placeholder="Room ID">
            </div>
            <div id="online-users">Online Users</div>
            <ul id="user-list"></ul>
        </div>
        <div id="chat-box">
            Select an user to chat!
        </div>
    </div>
</div>
